AIWebService/AIWebServiceTests/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ai.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ai.com" xmlns:intf="http://ai.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ai.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStrings">
    <complexType>
     <sequence>
      <element name="input" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStringsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getStringsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloNameResponse">
    <complexType>
     <sequence>
      <element name="helloNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloInteger">
    <complexType>
     <sequence>
      <element name="number" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloIntegerResponse">
    <complexType>
     <sequence>
      <element name="helloIntegerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStringsResponse">

      <wsdl:part element="impl:getStringsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStringsRequest">

      <wsdl:part element="impl:getStrings" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloNameResponse">

      <wsdl:part element="impl:helloNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloNameRequest">

      <wsdl:part element="impl:helloName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloIntegerRequest">

      <wsdl:part element="impl:helloInteger" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloIntegerResponse">

      <wsdl:part element="impl:helloIntegerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="getStrings">

         <wsdl:input message="impl:getStringsRequest" name="getStringsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStringsResponse" name="getStringsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloName">

         <wsdl:input message="impl:helloNameRequest" name="helloNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloNameResponse" name="helloNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloInteger">

         <wsdl:input message="impl:helloIntegerRequest" name="helloIntegerRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloIntegerResponse" name="helloIntegerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStrings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStringsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStringsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloInteger">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloIntegerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloIntegerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/HelloWebService/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
